<body>
  <div class="row">
    <p class="col-12">Discount <%= @discount.id %></p>
  </div>
  <p style="text-align: center;">Description: <%= @discount.description %></p><br>
  <p style="text-align: center;">Percentage: <%= @discount.percentage %></p><br>
  <p style="text-align: center;">Threshold: <%= @discount.threshold %></p>
</body>